	html,body	{
		height:100%;
		margin: 0;
		padding:0px;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		color: #3C4D5F;
	}
	a	{
		color: #019DC6;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		text-decoration: none; 
		font-size: 12px;
	}
	a:hover	{
		text-decoration: underline; 		
	}
	td	{
		padding: 0px;
		font-size: 12px;
	}

	img, table	{
		border:none;
	}
	
	table {
		padding: 0px;
		border-collapse: collapse;
		width:100%;
	}

	table td {
		padding: 0px;
		vertical-align:top;
	}

	.topMenu	{
		background:url(/images/header_bg.gif) repeat-x;
		margin-bottom:17px;
		width:994px;
		height:110px;
	}
	.topMenu td	{
		padding:20px 15px 0 0;
		background:url(/images/top_menu_bg_top.gif) top left no-repeat;
		width:180px;
	}
	td.imr	{
		padding:0px 15px 0 0;
		background:url(/images/top_menu_bg_top.gif) top left no-repeat;
		width:180px;
	}
	.topMenu a	{
		color: #019DC6;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		text-decoration: none; 
		font-size: 11px;
	}
	.logo	{
		background:none !important;
		width:auto !important;
		padding:40px 50px 0 56px !important;
	}
	.logo a	{
		background: none !important;
		padding-left:0 !important;
	}
	.topMenu a	{
		background:url(/images/link_arrow_00.gif) no-repeat;
		padding-left:10px;
		line-height:14px;
	}
	.block01	{
		width:993px;
		height:73px;
		background:url(/images/block_01_bg_02.jpg) repeat-x;
	}
	.block_w	{
		width:983px;
		height:90px;
	}
	.block_w_td	{
		padding-left:20px;
		text-align:center;
	}
	.block01 td	{
		padding-bottom:15px;
		vertical-align:middle !important;
		white-space:nowrap;
		font-size: 12px;
	}
	.block01Start	{
		background:url(/images/block_01_bg_01.jpg) no-repeat;
		padding-left:40px;
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-weight:bold;
		width:1px;
	}
	.block01Starts	{
		background:url(/images/block_01_bg_01_08.jpg) top left no-repeat;
/*		padding-left:40px; */
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-weight:bold;
		width:1px;
		vertical-align: middle;
	}
	.block01Ends	{
		background:url(/images/block_01_bg_03_07.jpg) top right no-repeat;
		text-align: left;
		vertical-align: middle;
	}
	.lb	{
		background:url(/images/block_01_bg_01.jpg) no-repeat;
		padding-left:10px;
		width:1px;
	}

	.block01End	{
		background:url(/images/block_01_bg_03.jpg) top right no-repeat;
		padding-right:20px;
		padding-left:16px;
	}
	.i01	{
		width:1px;
		padding-top:3px;
	}
	.i01 input	{
		margin:0 0 0 7px;
	}
	.i01t	{
		font-size: 12px;
		width:auto;
		text-align: left;
		vertical-align: middle;
	}
	.searchl	{
		width:auto;
		padding:0 !important;
		margin:0 !important;
		height:14px;
		border-right:solid 1px white;
	}
	.searchl	td {
		padding:0 !important;
		margin: 0;
	}
	.search	{
		width:370px;
		padding:0 !important;
		margin:0 !important;
		height:13px;
		background:white;
		border-right:solid 1px white;
	}
	.search td	{
		padding:0 !important;
	}
	.i021	{
		border:solid 1px #CFD6DC;
		width:180px;
		height:15px;
		color: #5C5857;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 12px;
		margin-left:1px;
		padding:0 !important;
	margin: 0;
	}
	.i022	{
		padding:0 !important;
		margin:0 !important;
	}
	.i02	{
		border:solid 1px #CFD6DC;
		width:348px;
		height:15px;
		color: #5C5857;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 12px;
		margin-left:1px;
		padding:0 !important;
	}
	.mainContent	{
		width:964px;
		padding:0 13px 0 20px;
	}
	.mainContentTable	{
		margin-bottom:16px;
	}
	.mainContentTable td	{
		border-left: solid 1px #E0E4E7;
		width:25%;
		padding:30px 20px 0 20px;
	}
	.mainContentTable h1	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-size: 12px;
		margin:0;
		padding:0 0 20 px 0;
	}
	.mainContentEndCol	{
		border-right: solid 1px #E0E4E7;
	}
	.mainContentEndCol02	{
		border-left: none !important;
		background:url(/images/block_03_bg_02.gif) bottom no-repeat #F8F8FA;
		padding:30px 0 0 0 !important;
	}
	.whiteSpace	{
		position:relative;
		display:block;
		width:100%;
		height:0;
	}
	.whiteSpace div	{
		position: absolute;
		display:block;
		width:965px;
		height:30px;
		top:-30px;
		left:-21px;
		background:white;
	}
	.vrezka01	{
		border-left: none !important;
		width: 50% !important;
		padding: 0 20px 0 0 !important;
	}
	.vrezka02	{
		width: 50% !important;
		padding: 0 0 0 20px !important;
		border-left:dotted 1px #E4E4E4 !important;
	}
	.mainContentTable h2	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-weight:bold;
		font-size: 12px;
		margin:0;
		padding:0 0 20px 0;
	}
	.icRss	{
		margin-left:10px;
	}
	.desckBlock01	{
	margin-bottom:7px;
	}
	.redLink12Bold	{
		color:#F36523;
		font-size: 12px;
		font-weight:bold;
		padding-right:none !important;
		background:none !important;
	}
	.desckBlock01 em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.desckBlock01 a	{
		background:url(/images/link_arrow_01.gif) no-repeat right;
		padding-right:10px;
	}
	.subscribe	{
		margin-top:12px;
		background:url(/images/subscribe_bg.gif) top left no-repeat #F3F4F6;
		padding:10px;
		width:175px;
		color:#F36523;
		font-weight:bold;
		vertical-align:bottom !important;
	}
	.subscribe table	{
		background:white;
		border-right:solid 1px white;
		border-left:solid 1px white;
		padding:0 !important;
		margin-top:3px;
	}
	.subscribe table td	{
		padding:0 !important;
		border:none !important;
		height:17px;
	}
	.i03	{
		border:solid 1px #CFD6DC;
		width:151px;
		height:13px;
		color: #5C5857;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 12px;
	}
	.i03_1	{
		position:relative;
		display:block;
	}
	.i03_1 input	{
		position: absolute;
		top:1px;
	}
	.i03_11	{
		position:relative;
		display:block;
	}
	.i03_11 input	{
		position: absolute;
		top:1px;
		left:-18px;
	}
	html>body .i03	{
		width:154px;
		height:13px;
	}
	.desckBlock02	{
		padding-bottom:10px;
	}
	.desckBlock02 a	{
		display:block;
		margin-bottom:3px;
	}
	.desckBlock02 em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.desckBlock02 strong	{
		color:#F16623;
	}
	a.rArrow	{
		background:url(/images/link_arrow_01.gif) no-repeat right;
		padding-right:10px;
	}
	.desckBlock03	{
		padding-bottom:10px;
		font-size: 10px;
	}
	.desckBlock03 a	{
		display:block;
		margin-bottom:5px;
	}
	.desckBlock03 em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.desckBlock03 span	{
		color:#E3E4E8;
		margin:0 5px;
	}
	.redLink10	{
		color:#F36523;
		font-size: 10px;
		padding-right:none !important;
		background:none !important;
		display:inline !important;
	}
	.desckBlock04	{
		padding-bottom:15px;
	}
	.desckBlock04 a	{
		display:block;
		margin-bottom:5px;
/*		text-transform:uppercase; */
	}
	.desckBlock04 strong	{
		color:#F36525;
		font-size: 10px;
		font-weight:normal;
	}
	.desckBlock04 em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.desckBlock04 span	{
		color:#E3E4E8;
		margin:0 5px;
	}
	a.rPlus	{
		background:url(/images/link_arrow_02.gif) no-repeat right;
		padding-right:7px;
	}
	a.rMinus	{
		background:url(/images/link_arrow_03.gif) no-repeat right;
		padding-right:7px;
	}
	.banner01Position	{
		display:block; 
		position:relative;
		height:88px;
	}
	.banner01Position div	{
		display:block;
		position: absolute;
		width:983px;
		height:118px;
		background:white;
		top:-30px;
		left:-31px;
		padding:27px 0 0 0;
	}
	.banner01Position table	{
		background: url(/images/block_02_bg_02.jpg) repeat-x;
		height:91px;
	}
	.banner01Position table td	{
		border-left: none !important;
	}
	.banner	{
		background:url(/images/block_02_bg_01.jpg) no-repeat;
		padding: 2px 20px 10px 20px !important;
		vertical-align:middle !important;
	}
	.banner img	{
		border:solid 1px white;
	}
	.propose	{
		background:url(/images/block_02_bg_03.jpg) right no-repeat;
		padding: 2px 25px 10px 0 !important;
		vertical-align:middle !important;
		width:100% !important;
	}
	.propose strong	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		font-weight:bold;
		font-size: 12px;
		margin:0;
		padding:0 0 2px 0;
		display:block;
	}
	.propose strong span	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#F36422;
		font-weight:bold;
		font-size: 12px;
		margin:0;
	}
	.desckBlock05	{
		padding-bottom:15px;
	}
	.desckBlock05 a	{
		display:block;
		margin-bottom:5px;
	}
	.desckBlock06	{
		padding-bottom:10px;
	}
	.desckBlock06 a	{
		display:block;
		margin-top:5px;
	}
	.desckBlock06 em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.desckBlock07	{
		padding-bottom:15px;
	}
	.desckBlock07 em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.desckBlock07 span	{
		color:#E3E4E8;
		margin:0 5px 0 5px;
	}
	.desckBlock07 strong	{
		color:#F36525;
		margin:0 5px;
		font-size: 10px;
		font-weight:normal;
	}
	.desckBlock07 div	{
		display:block;
		width:auto;
		clear:both;
		height:5px;
	}
	.catalog	{
		background:url(/images/block_03_bg_01.gif) top left no-repeat;
		padding:20px 15px;
	}
	.catalog h2	{
		color:#F36422;
		padding:0 0 5px 0;
	}
	.catalog a	{
		display:block;
		height:18px;
		margin:2px 0;
		padding:4px 0 0 22px;
		text-transform:uppercase;
		background-repeat:no-repeat;
		background-position:left;
	}
	.cat01	{
		background:url(/images/ic_cat_magazin.jpg);
	}
	.cat02	{
		background:url(/images/ic_cat_production.jpg);
	}
	.cat03	{
		background:url(/images/ic_cat_equip.jpg);
	}
	.cat04	{
		background: url(/images/ic_cat_soft.jpg);
	}
	.cat05	{
		background: url(/images/ic_cat_students.jpg);
	}
	.cat06	{
		background: url(/images/ic_cat_sites.jpg);
	}
	.cat07	{
		background: url(/images/ic_cat_faculties.jpg);
	}
	.cat08	{
		background: url(/images/ic_cat_univer.jpg);
	}
	.cat09	{
		background: url(/images/ic_cat_reference.jpg);
	}
	.col1	{
		padding: 0 10px 0 0 !important;
		border-left:none !important;
	}
	.picC	{
		border: solid 1px #E0E4E7;
		margin-bottom:9px;
	}
	.col2	{
		padding: 0 0 0 10px !important;
		border-left:none !important;
		width:100% !important;
		font-size: 10px;
	}
	.col2 strong	{
		color:#F16623;
		font-size: 12px;
	}
	.mainContentEndCol03	{
		padding:30px 0 0 0 !important;
		border-left:none !important;
	}
	.banner02	{
		background:url(/images/block_04_bg_01.gif) no-repeat;
		padding:13px 2px 23px 5px;
		text-align:justify;
	}
	html>body .banner02	{
/*		padding:13px 2px 23px 14px; */
		padding:13px 15px 23px 23px; 
	}
	.bottomPartners	{
		background:url(/images/block_05_bg_02.jpg) repeat-x;
		height:143px;
		width:988px;
	}
	.bottomPartnersCol1	{
		background:url(/images/block_05_bg_01.jpg) no-repeat;
		padding:25px 17px 30px 42px;
	}
	.bottomPartnersCol1 h1	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-size: 12px;
		margin:0;
		padding:0 0 20 px 0;
	}
	.bottomPartnersCol2	{
		background:url(/images/block_05_bg_03.jpg) right no-repeat;
		width:13px;
	}
	.bottomPartners h2	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-weight:bold;
		font-size: 12px;
		margin:0;
		padding:0 0 7px 0;
		display:block;
	}
	.bottomPartners .img	{
		width:1px;
	}
	.bottom	{
		border-bottom:solid 30px #F36523;
		width:954px;
		padding:10px 0 28px 40px;
		color:#3C4E64;
		font-size:10px;
	}
	.bottom a	{
		font-size:10px;
	}
	
	.innerContent	{
		width:961px;
		padding:16px 13px 0 20px;
		margin-bottom:15px;
	}
	.innerContentTable	{
		border-right: solid 1px #E0E4E7;
	}
	.innerContentTable td	{
		border-left: solid 1px #E0E4E7;
		padding:0 10px 0 20px;
	}
	.iCTBnp td	{
		border: solid 1px #E0E4E7;
		padding:0 0px 0 0px;
		color: #000000;
		align: right;
	}

	.innerContentTablenopadding td	{
		border: solid 1px #E0E4E7;
		padding:0 0px 0 0px;
		color: #000000;
	}
	.innerContentTablenopadding a	{
		color: #000000;
	}
	.innerContentTableNoPadding td	{
		border: none;
		padding:0 0px 0 0px;
		color: #000000;
	}
	.innerContentTableNoPadding a	{
		color: #019DC6;
	}

	html:root .innerContentTable td	{
		border-left: solid 1px #E0E4E7;
		padding:0 10px 0 18px;
	}
	.innerContentEndCol	{
		width:199px;
	}
	.innerContentTable h1	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-weight:bold;
		font-size: 12px;
		margin:0;
		padding:0 0 20 px 0;
	}
	.innerContentTable h2	{
		font-family: Microsoft Sans Serif, Tahoma, Verdana, Arial, sans-serif;
		color:#625FA8;
		text-transform:uppercase;
		font-weight:bold;
		font-size: 12px;
		margin:0;
		padding:0 0 20px 0;
	}
	.content .small	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.pic	{
		color:#9BA7B3;
		font-style:italic;
/*		width:265px;*/
		float:left;
		margin:0 10px 10px 0;
	}
	.pic img	{
		margin-bottom:5px;
		float:left;
	}
	.innerBannerSpace	{
		display:block;
		position:relative;
		height:90px;
	}
	.innerBannerSpace div	{
		display:block;
		position: absolute;
		width:701px;
		height:118px;
		top:0;
		left:-12px;
	}
	.innerBannerSpace table	{
		background: url(/images/block_02_bg_02.jpg) repeat-x;
		height:91px;
	}
	.innerBannerSpace table td	{
		border-left: none !important;
	}
	.innerContentTable .big	{
		color:#F06520;
		font-weight:bold;
		font-size: 12px;
	}
	.comments	{
		background:#F3F4F6;
		height:188px;
		margin-top:8px;
		margin-bottom:5px;
	}
	.comments td	{
		border:none !important;
		padding:0 !important;
		white-space:nowrap;
	}
	.comments .c1	{
		background:url(/images/comments_bg_01.gif) top left no-repeat;
		height:3px;
		width:3px;
	}
	.comments .c2	{
		background:url(/images/comments_bg_02.gif) top right no-repeat;
		height:3px;
		width:3px;
	}
	.comments .c3	{
		background:url(/images/comments_bg_03.gif) bottom right no-repeat;
		height:3px;
	}
	.comments .c4	{
		background:url(/images/comments_bg_04.gif) bottom left no-repeat;
		height:3px;
	}
	.noPadd	{
		padding:0 !important;
	}
	.input01	{
		border:solid 1px white;
		width:152px;
	}
	.input01 input	{
		border:solid 1px #D1D6DA;
		width:150px;
		padding:0 !important;
		height:13px;
		color: #5C5857;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 12px;
	}
	.input02	{
		border:solid 1px white;
		width:142px;
	}
	.input02 input	{
		border:solid 1px #D1D6DA;
		width:140px;
		padding:0 !important;
		height:13px;
		color: #5C5857;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 12px;
	}
	.input03	{
		border:solid 1px white;
		height:93px;
		width:561px;
	}
	.input03 textarea	{
		border:solid 1px #D1D6DA;
/*		width:140px;*/
		height:93px;
		width:100%;
		padding:0 !important;
		color: #5C5857;
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 12px;
	}
	.comments01	{
		width:90px;
		white-space:nowrap;
		vertical-align:middle;
		text-align:right;
	}
	.comments01 span	{
		margin-right:8px;
	}
	.comments01 div	{
		margin-right:8px;
		height:93px;
	}
	.comments02	{
		margin-top:12px;
	}
	.comments03	{
		vertical-align:middle;
	}
	.comments03 span	{
		margin:0 0px 0 0px;
		text-align:left;
	}
	.input04	{
		text-align:right
	}
	.input04 span	{
		margin-right:18px;
/*		display:block;*/
	}
	.addedeComments	{
		margin-top:15px;
	}
	.addedeComments em	{
		color:#9CA6AF;
		font-size: 10px;
		font-style:normal;
	}
	.addedeComments span	{
		color:#E3E4E8;
		margin:0 5px;
	}
	.addedeComments a	{
		color:#F26520;
	}
	border:solid 1px red;
